<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        
        <ul class="quick-links">
          <li>Home</li>
          <li>Products</li>
          <li>Our Services</li>
          <li>Our Customers</li>
          <li>About Us</li>
          <li>Contact Us</li>
        </ul>
      </nav>
    </div>
  </body>
</html>
