*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
}
.navbar{
    height: 10%;
    width: 100%;
    background-color: palegreen;
}
.quick-links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
}